doctype html
html
    head
        title Knowledge
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
    body 
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container-fluid
                a.navbar-brand(href='#') Express KB
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='/') Home
                        li.nav-item
                            a.nav-link(href='/articles/add') Add Article
                        li.nav-item
                            a.nav-link.disabled Disabled
        .container 
            != messages('message', locals)
            block content 
            br
            hr
            footer 
                p Copyright &copy; #{new Date().getFullYear()}
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/js/main.js")